/* colours */
/* dark to light 
blue -  #44e4ec #83fffe #b9fffe  #dcfffe
purple- #6d4fd8 #997dff ##b8a4ff #d8cdff
mag -   #c34fce #f182ff ##f1b0ff #f1d8ff
*/

:root {
    --primary: #d8cdff; 
    --secondary: #997dff; 
    --title: #6d4fd8;
  }
  
  /* layout styles */
  nav {
  
    border-bottom: 10px linear-gradient(#997dff, #f182ff);
    background: linear-gradient(to bottom right, #6d4fd8, #997dff, #f182ff);
  }
  nav a {
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: uppercase; 
    text-decoration: solid; 
    color:#ffffff;
    font-size:larger;
    display:initial;
  }

  nav a span {
  font-weight: bold;
  }
  nav .sidenav-trigger {
    margin: 0;
    color: #ffffff;
  }

  /* progression styles */
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card{
    border-radius: 20px;
    box-shadow: 0px 1px 20px rgba(90, 90, 90, 0.1);
    
  }

  .icons i {
    margin: 0 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    color: #6d4fd8;
  }

  .progressions {
    margin-top: 20px;
  }

  .progress img {
    grid-area: image;
    max-width: 60px;
  }
  .progression-details {
    grid-area: details;
    margin-top: 6px;
  }
  .progression-delete {
    grid-area: delete;
    bottom: 0px;
    right: 0px;
  }
  .progression-delete i {
    font-size: 18px;
  }
  .progression-title {
    font-weight: bold;
    
  }
  .progression-ingredients {
    font-size: 0.8em;
  }
  .center{
    max-width: 70%;
    margin:auto;
  }

  .progressions h4{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #997dff;
  }

  /* form-styles */
  .add-btn {
    background: var(--title) !important;
    margin-bottom: 15px;
  }
  input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button {
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
  }
  form .input-field {
    margin-top: 30px;
  }
.card-image{
  overflow: hidden;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 20px;}
  
  #gallery {
    line-height:0;
    -webkit-column-count:4; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:4;
    -moz-column-gap:5px;
    column-count:4;
    column-gap:5px;
    padding-left: 10px;
    padding-right: 10px;
 }
 #gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
  border-radius: 30px;
  
}

.hiddenmsg{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.long-buttons{
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.timelapse:hover{
  background-color: #b9fffe;
  color:#6d4fd8;
}
.timelapse{
  margin-top: 5px;
  background-color: #6d4fd8;
  border-radius: 10px;
  width: 50%;
}
.video:hover{
  background-color: #b9fffe;
  color:#6d4fd8;
}
.video{
  margin-top: 5px;
  background-color: #6d4fd8;
  border-radius: 10px;
  width: 50%;
}
.collage:hover{
  background-color: #b9fffe;
  color:#6d4fd8;
}
.collage{
  margin-top: 5px;
  background-color: #6d4fd8;
  border-radius: 10px;
  width: 50%;
}

.center h5{
  color:#6d4fd8;
  text-align: left;
  padding-left: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

hr.solid{
  border-top: 6px solid #ffffff;
}

.page-footer{
  border-bottom: 10px linear-gradient(#f182ff, #997dff );
    background: linear-gradient(to bottom right, #f182ff,#997dff,#6d4fd8 );

}

.nav-wrapper img{
  width: auto px;
  height: 60px;


}
